<!DOCTYPE HTML>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Propriedades de background em CSS - Linha de Código</title>
  <link rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="back">
    <div id="body">
      Hello Universe!!!
    </div>
    <div>
      <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/">Home</a>
          <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </div>
      </nav>

      <!-- main app container -->
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 offset-sm-3">
              <alert></alert>
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>